<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>header}}
    <title>Ashutosh Mishra</title>
</head>

<body class="ripple">

    {{>navbar}}
    {{>home}}
    {{>about}}
    {{>intrest}}
    {{>resume}}
    {{>certificate}}
    {{>freelance}}
    {{>contact}}
    {{>footer}}

    <div class="social_media">
        <a href="https://www.instagram.com/ashutosh_23m/" target="_ashu" class="instagram">Click Here To Visit<i
                class="fa-brands fa-instagram"></i></a>

        <a href="https://web.telegram.org/z/#1058145966" target="_ashu" class="telegram">Click Here To Visit<i
                class="fa-brands fa-telegram"></i></a>

        <a href="#" target="_ashu" class="facebook">Click Here To Visit<i class="fa-brands fa-facebook"></i></a>

        <a href="https://github.com/Ashu2309" target="_ashu" class="github">Click Here To Visit<i
                class="fa-brands fa-github"></i></a>

        <a href="https://www.linkedin.com/in/ashutosh-mishra-909550218/" target="_ashu" class="linkedin">Click Here To
            Visit<i class="fa-brands fa-linkedin"></i></a>

    </div>
    <div class="up_scroll hide" id="up_scroll">
        <a href="#homepage"><i class="up_arrow fa-solid fa-angles-up"></i></a>
    </div>

    <script>
        console.log("scrollY");

        const totop = document.getElementById("up_scroll");

        window.onscroll = addEventListener("scroll", () => {
            if (scrollY > document.body.clientHeight) {
                totop.classList.remove("hide");
            }
            else {
                totop.classList.add("hide");
            }
            console.log(document.body.clientHeight);
            console.log(scrollY);
        })

    </script>
    <script>
          const ripple_btns = document.querySelectorAll(".ripple_btn");

        ripple_btns.forEach((ripple_btn) => {
            ripple_btn.addEventListener("click", (e) => {

                let x = e.pageX - e.target.offsetLeft;
                let y = e.pageY - e.target.offsetTop;

                let overlay_btn = document.createElement("span");
                overlay_btn.classList.add("overlay_btn_eff");
                overlay_btn.style.left = x + "px";
                overlay_btn.style.top = y + "px";

                ripple_btn.appendChild(overlay_btn);

                console.log("ripple_btn");

                setTimeout(() => {
                    overlay_btn.remove();
                }, 800)
            })
        })
    </script>

</body>


</html>