<div class="container-fluid main_aboutus" id="aboutus">

    <div class="container-fluid col-12 col-md-12 col-lg-12 col-xl-12">
        <figure class="figure_abt">
            <img src="images/college-banner2.jpg" alt="profile pic" class="pfp_img">
        </figure>
    </div>
    <div class="mx-auto text-center container-fluid col-9 col-md-9 col-lg-9 col-xl-9"></div>
    <div class="row">
        <div class="container-fluid col-9 col-md-7 col-lg-2 col-xl-2 left_abt">
            <figure>
                <img src="images/con_img.png" class="left_abt_img" />
            </figure>
            <hr class="w-75" />
            <h3 class="sub_heading">Personal Details : </h3>
            <div class="w-100 px-4 d-flex justify-content-center flex-column">
                <h5 class="qualities" <span><i class="left_fa fa-solid fa-building-columns"
                        title="All India Shri Shivaji Memorial Society"></i></span>AISSMS IOIT, Pune</h5>
                <h5 class="qualities"><span><i class="left_fa fa-solid fa-cake-candles"></i></span>23<sup>rd</sup>
                    Sep,
                    2003
                </h5>
                <h5 class="qualities"><span><i class="left_fa fa-solid fa-graduation-cap"
                            title="Electronics and telecommunication"></i></span>E&Tc Engineering</h5>
                <h5 class="qualities"><span><i class="left_fa fa-solid fa-location-dot"></i></span>Pune - 411 015
                </h5>
            </div>

        </div>
        <div class="container-fluid col-9 col-md-9 col-lg-5 col-xl-5 center_abt">
            <h2 class="heading">ABOUT ME</h2>
            <p class="know_me">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque dignissimos
                aliquid.
            </p><br>
            <p class="know_me">
                E&TC Engineering student looking to obtain the position of software developer intern. Bringing
                excellent
                troubleshooting skills and ability to engineer responsive solutions after analyzing codes. I want to
                work
                with an organization that can give me ample opportunities to grow so that i will be able to help in
                the
                growth of that organization and will be able to enhance my skills and my capabilities.
            </p>
            <h3 class="social_heading text-secondary">Know more - </h4>
                <div class="about_social">
                    <a href="https://www.instagram.com/ashutosh_23m/" target="_ashu" class="ig"><i
                            class="fa-brands fa-instagram"></i></a>

                    <a href="https://web.telegram.org/z/#1058145966" target="_ashu" class="tg"><i
                            class="fa-brands fa-telegram"></i></a>

                    <a href="https://github.com/Ashu2309" target="_ashu" class="gh"><i
                            class="fa-brands fa-github"></i></a>

                    <a href="https://www.linkedin.com/in/ashutosh-mishra-909550218/" target="_ashu" class="ld"><i
                            class="fa-brands fa-linkedin"></i></a>

                    <a href="https://github.com/Ashu2309" target="_ashu" class="fb"><i
                            class="fa-brands fa-facebook"></i></a>


                </div>
        </div>
        <div class="container-fluid col-9 col-md-7 col-lg-3 col-xl-3 right_abt">
            <div class="content_qua">

                <h3 class="sub_heading">Some Qualities : </h3>
                <h5 class="qualities" <span><i class="fa-solid fa-angle-right"></i></span>leading a team</h5>
                <h5 class="qualities"><span><i class="fa-solid fa-angle-right"></i></span>Programming</h5>
                <h5 class="qualities"><span><i class="fa-solid fa-angle-right"></i></span>Good Commincation Skils
                </h5>
                <h5 class="qualities"><span><i class="fa-solid fa-angle-right"></i></span>Time Management</h5>
            </div>


        </div>



    </div>
</div>