<div class="container-fluid" id="certificate">
    <div class="row">
        <div class="container-fluid col-10 col-xl-10 col-lg-10">
            <hr class="w-100 mx-auto" />
            <h1 class="heading py-3">CERTIFIED</h1>
            <h1 class="check">CHECK MY CERTIFICATES</h1>
            <div class="row">
                <div class="col-10 col-xl-4 col-lg-4">
                    <div class="card_cer">
                        <i class="fa-regular fa-credit-card"></i>
                        <h1 class="head_cer">DSML</h1>
                        <h3 class="src_cer">certified by UDEMY</h3>
                        <img src="images/cer1.jpg" alt="Data Science & Machine Learning" class="images" hidden>
                    </div>
                </div>
                <div class="col-10 col-xl-4 col-lg-4">
                    <div class="card_cer">
                        <i class="fa-regular fa-credit-card"></i>
                        <h1 class="head_cer">DSML</h1>
                        <h3 class="src_cer">certified by UDEMY</h3>
                        <img src="images/cer2.jpg" alt="cer1" class="images" hidden>
                    </div>
                </div>
                <div class="col-10 col-xl-4 col-lg-4">
                    <div class="card_cer">
                        <i class="fa-regular fa-credit-card"></i>
                        <h1 class="head_cer">DSML</h1>
                        <h3 class="src_cer">certified by UDEMY</h3>
                        <img src="images/cer3.jpg" alt="cer1" class="images" hidden>
                    </div>
                </div>
                <div class="col-10 col-xl-4 col-lg-4">
                    <div class="card_cer">
                        <i class="fa-regular fa-credit-card"></i>
                        <h1 class="head_cer">DSML</h1>
                        <h3 class="src_cer">certified by UDEMY</h3>
                        <img src="images/cer4.jpg" alt="cer1" class="images" hidden>
                    </div>
                </div>
                <div class="col-10 col-xl-4 col-lg-4">
                    <div class="card_cer">
                        <i class="fa-regular fa-credit-card"></i>
                        <h1 class="head_cer">DSML</h1>
                        <h3 class="src_cer">certified by UDEMY</h3>
                        <img src="images/cer5.jpg" alt="cer1" class="images" hidden>
                    </div>
                </div>

            </div>
            <div class="modal_side">
                <span class="close"><i class="fas fa-times"></i></span>
                <div class="modalContent">
                    <img src="" alt="certificateimg" class="modalImg">
                    <span class="modalText"></span>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    const card_cer = document.querySelectorAll(".card_cer");
    const modal = document.querySelector(".modal_side");
    const modalImg = document.querySelector(".modalImg");
    const modalText = document.querySelector(".modalText");
    const close = document.querySelector(".close");

    card_cer.forEach((card) => {
        card.addEventListener("click", () => {
            var image = card.lastElementChild;
            console.log(image.src);
            modalImg.src = image.src;
            modalText.innerHTML = image.alt;

            modal.classList.add("appear");

            close.addEventListener("click", () => {
                modal.classList.remove("appear");
            })
        })
    })
</script>