<div class="container-fluid main_contact" id="contact">
    <div class="container-fluid contact_top mx-auto col-10">
        <hr class="w-100 mx-auto" />
        <h1 class="heading py-3">CONTACT</h1>
        <h1 class="check">Get In Touch</h1>
        <h6 style="margin: 2rem 0;font-size:1.7rem;">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Dolore, unde adipisci voluptatibus <br>magnam
            aut
            iste voluptate eaque. Aut, dolorum recusandae! Reprehenderit laboriosam<br> omnis totam accusantium
            harum id
            soluta illo sed!</h6>
        <div class="cotainer-fluid contact_head col-12 col-md-12 col-xl-12 col-lg-12 mx-auto">
            <div class="row">
                <div class="left_con col-12 col-md-12 col-xl-8 col-lg-8 mx-auto text-center">
                    <h3 class="head_con">Send your message</h3>

                    <form action="/contact" method="POST" class="form_control mx-auto">
                        <div class="row">
                            <div class="left_contact_side container-fluid col-12 col-md-12 col-xl-4 col-lg-4">
                                <div>
                                    <label>Your Name</labe><br><input type="text" class="text" name="name">
                                </div>
                                <div>
                                    <label>Phone</labe><br><input type="number" class="text" maxlength="13"
                                            name="phone">
                                </div>
                            </div>
                            <div class="right_contact_side container-fluid col-12 col-md-12 col-xl-4 col-lg-4   ">
                                <div>
                                    <label>Email Address</labe><br><input type="email" class="text" name="email">
                                </div>

                                <div>
                                    <label>Profession</labe><br><input type="text" class="text" maxlength="13"
                                            name="profession">
                                </div>
                            </div>



                            <div class="bottom_con">
                                <div class="msg">
                                    <label>Message</label><br>
                                    <textarea class="message" name="message"></textarea>
                                </div>
                                <span>
                                    {{!-- <input type="submit" class="send_box"><i
                                        class="fa-solid fa-envelope-circle-check"></i>
                                    --}}
                                    <button type="submit" class="send_box">

                                        <i class=" fa-solid fa-envelope-circle-check"></i></button>
                                </span>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="right_con col-12 col-md-12 col-xl-4 col-lg-4">
                    <h3 class="head_bull text-center">Contact Information</h3>

                    <div class=" bullets">
                        <i class="bullet_icons fa-solid fa-location-dot"></i><span class="bullet_text">Dighi, Pune -
                            411 015,
                            Maharashtra.</span>
                    </div>
                    <div class="bullets">

                        <i class="bullet_icons fa-solid fa-mobile-screen"></i>

                        <span class="bullet_text">+91
                            738-5568-680</span>
                    </div>
                    <div class="bullets">
                        <i class="bullet_icons fa-solid fa-envelope-open-text"></i><span
                            class="bullet_text">mishraashutosh2309@gmail.com</span>
                    </div>
                    <div class="social py-5">
                        <a href="https://www.instagram.com/ashutosh_23m/" target="_ashu" class="instagram"><i
                                class="fa-brands fa-instagram"></i></a>

                        <a href="#" target="_ashu" class="telegram"><i class="fa-brands fa-telegram"></i></a>

                        <a href="#" target="_ashu" class="facebook"><i class="fa-brands fa-facebook"></i></a>

                        <a href="#" target="_ashu" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>