<footer class="footer">
    <div class="main_footer container-fluid col-xl-12 col-12">
        <div class="top_footer container-fluid">
            <div class="social_footer py-5">


                <a href="https://www.instagram.com/ashutosh_23m/" target="_ashu" class="instagram"><i
                        class="fa-brands fa-instagram"></i></a>

                <a href="https://web.telegram.org/z/#1058145966" target="_ashu" class="telegram"><i
                        class="fa-brands fa-telegram"></i></a>

                <a href="https://github.com/Ashu2309" target="_ashu" class="github"><i
                        class="fa-brands fa-github"></i></a>

                <a href="https://www.linkedin.com/in/ashutosh-mishra-909550218/" target="_ashu" class="linkedin"><i
                        class="fa-brands fa-linkedin"></i></a>
            </div>
            <div class="footer_navlinks">
                <ul>
                    <li><a href="#" rel="noopener noreferrer">HOME</a></li>
                    <li><a href="#aboutus" rel="noopener noreferrer">ABOUT</a></li>
                    <li><a href="#resume" rel="noopener noreferrer">RESUME</a></li>
                    <li><a href="#certificate" rel="noopener noreferrer">CERTIFICATION</a></li>
                </ul>


            </div>
            <div class="footer_intrests">
                <ul>
                    <li>CODER <span class="dash"> | </span></li>
                    <li>TEAM LEADER <span class="dash"> | </span></li>
                    <li>FOCUSIVE</li>
                </ul>

            </div>
        </div>

    </div>
    <div class="below_footer container-fluid col-xl-12 col-12 text-center">
        <div class="bottom_footer text-light container-fluid col-xl-7 col-7 py-5">
            <h3>PORTFOLIO, CRAFTED BY ❤️ ASHUTOSH MISHRA</h3>
            <h4>COPYRIGHT @ashutosh | ALL RIGHTS RESERVED</h4>
        </div>
    </div>
</footer>

