<section class="section_view text-center">
    <div class="overlay_free"></div>
    <div class="container_free">
        <h1 class="title_free">I am <span>available</span> for freelancing</h1>
        <p class="para_free">Dedicated guy Open to hire and work for you at any time. Click on the below button and
            contact me..!! </p>
        <button class="here-btn ripple_btn"><a onclick="hire()" href="#contact">HIRE ME</a></button>
    </div>
    </p>
</section>