<section class="section_view text-center">
    <div class="overlay_free"></div>
    <div class="container_free">
        <h1 class="title_free">I am <span>available</span> for freelancing</h1>
        <p class="para_free">Lorem ipsum dolor sit amet consectetur aspernatur totam ipsa recusandae voluptas veritatis
            est
            laborum eos harum officiis? </p>
        <button class="here-btn"><a href="#contact">HIRE ME</a></button>
    </div>
    </p>
</section>