<div class="container-fluid main_home" id="homepage">
    <div class="row">
        <div class="container-fluid col-10 col-md-10 col-lg-10 col-xl-10 main_head mx-auto">
            <div class="row">
                <div class="details col-10 col-md-10 col-lg-6 col-xl-6 mx-auto">
                    <h3 class="title">FULL STACK DEVELOPER</h3>
                    <h2 class="brand_name">ASHUTOSH MISHRA</h2>
                    <h3 class="sub-title">Career Objective</h3>
                    <p class="know_me">To have a growth oriented and challenging career where I can contribute my
                        knowledge and skills to the organization
                        and enhance my experience through continuous learning and teamwork.</p>
                    <button class="ripple_btn here-btn"><a href="#aboutus" title="more about me">MORE</a></button>
                </div>
                <div class="picture mx-auto col-10 col-md-10 col-lg-6 col-xl-6">
                    <figure class="figure_pfp">
                        <img src="images/pfp_main.jpeg" alt="profile pic" class="image_pfp">

                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>