<div class="container-fluid main_home">
    <div class="row">
        <div class="container-fluid col-10 col-md-10 col-lg-10 col-xl-10 main_head">
            <div class="row">
                <div class="details col-10 col-md-10 col-lg-6 col-xl-6">
                    <h3 class="title">FULL STACK DEVELOPER</h3>
                    <h2 class="brand_name">ASHUTOSH MISHRA</h2>
                    <p class="know_me">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus a ex
                        consequatur eius odit ab id vitae.</p>
                    <button><a href="#aboutus" title="more about me">MORE</a></button>
                </div>
                <div class="picture col-10 col-md-10 col-lg-6 col-xl-6">
                    <figure class="figure_pfp">
                        <img src="images/pfp2.jpg" alt="profile pic" class="image_pfp">

                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>