<div class="py-5 mx-auto" id="resume">
    <div class="row">
        <div class="skills container-fluid col-9 col-md-9 col-xl-10">
            <h1 class="heading py-3">RESUME</h1>
            <h1 class="check">CHECK MY RESUME</h1>
            <div class="row">
                <div class="left_part mx-auto col-11 col-md-5 col-xl-5">
                    <div class="content">
                        <h2 class="resume_head">Summary</h2>
                        <p class="para">Innovative and deadline-driven Web developer with experience in
                            HTML,CSS,JAVASCRIPT,Reactjs in backend development.An enthusiastic fresher with highly
                            motivated and leadership skills having bachelors of engineering degree in E&TC
                            Engineering.Expert in implementation of each step of project.Eager to learn new technologies
                            and methodologies.Always willing to innovate the new things which can improve the existing
                            technology.</p>
                    </div>
                    <div class="content">
                        <h2 class="resume_head">Education</h2>
                        <h3 class="subtitle">BACHELOR OF ENGINEERING, E&TC ENGINEERING</h3>
                        <button disabled class="date">2021 - 2024</button>
                        <p class="para"><i>AISSMS Institute of Information Technology, Pune, Maharashtra</i></p>
                        <p class="para">
                            I am pursuing my 2nd year graduation degree in E&TC engineering</p>
                    </div>
                    <div class="content">
                        <h3 class="subtitle">SECONDARY EDUCATION (12TH), MAHARASHTRA STATE BOARD</h3>
                        <button disabled class="date">2020</button>
                        <p class="para"><i>Don Bosco JR College,yerewada,Pune,Maharashtra</i></p>
                        <p class="para">
                            I have completed my 12th from Maharashtra State board with overall 76%
                    </div>
                </div>
                <div class="right_part mx-auto col-11 col-md-5 col-xl-5">
                    <div class="content" style="height: 35rem;">
                        <h2 class="resume_head">Work Responsibilities</h2>
                        <p class="para">
                        <ul>
                            <li class="list_res">Leadership</li>
                            <p class="para">Class Repreentative<br>
                                Co-ordinator for Arduino course<br>
                                Technical team co-ordinator</p>
                            <li class="list_res">In Projects</li>
                            <p class="para">Leaded my PBL group<br>
                                Contributed as a Web Developer<br>
                                Worked as a Tresurer</p>

                        </ul>
                        </p>
                    </div>
                    <li class="list_res">Check My Resume</li>

                    <div class="resume_btn">
                        <button class="ripple download-btn"><a href="files/Ashutosh Mishra (resume).pdf"
                                title="more about me" download>Downlooad</a></button>
                        <button class="ripple check-btn"><a href="files/Ashutosh Mishra (resume).pdf"
                                title="more about me" target="_ashu">Check</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>